In [3]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [13]:
def get_artist_term_counts():
    term_counts = pd.read_csv('../misc_files/top_artist_terms.csv', index_col='artist_id', names=['artist_id','term', 'term_count'])
    term_counts = term_counts[~(term_counts['term'] == 'term')]
    del term_counts['term_count']
    return term_counts

In [5]:
conn = create_engine('postgresql://munozaaron:mcnultymusic@localhost:5432/mcnulty_songs').raw_connection()
cursor = conn.cursor()

/home/munozaaron/.local/lib/python3.5/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [ ]:
results = pd.read_sql_query('''SELECT DISTINCT(track_id), title, artist_id
                                FROM stopless_lyrics lyrics
                                LEFT JOIN track_metadata t_meta ON t_meta.target_id = lyrics.track_id''',conn)

results.sample(5)

In [5]:
results.shape

(237289, 3)

In [14]:
artist_terms = get_artist_term_counts()

artist_terms.head(5)

                                                                 term
artist_id
ARMABZQ11F4C84615B  dirty south rap                               ...
ARVKMRB122988EEA68  irish folk                                    ...
ARPEAOE11F50C4D095  irish folk                                    ...
ARJZLKM11F50C50944  irish folk                                    ...
ARBRAGN11F4C845040  irish folk                                    ...

In [6]:


full_set = pd.merge(results, artist_terms, left_on='artist_id', right_index=True)

full_set.sample(5)

,track_id,title,artist_id,term
33791,TRDRHBF128F92F7C49,The Raggle Taggle Gypsy ...,ARIWQ3Q1187FB3F6D6,rock ...
29337,TRDFALF128F4267F0E,I Cant Believe That Youre In Love With Me ...,AR68OGM1187FB5709D,rock ...
29008,TRDEBWR128F424D662,Love Knows ...,ARZ7LSE1187B993FAE,electronic ...
67816,TRHKNQR128EF3663BD,You Better Not Look My Way ...,ARN0SSH1187FB4EF8B,rock ...
2285,TRAGDPH128F9344020,Don't Lie ...,ARATR0U1187B9B76D0,rock ...

In [13]:
#genre_counts = full_set.groupby('term').count().reset_index()
genre_counts = full_set.groupby(['term']).size().reset_index(name='counts')
genre_counts.sort_values('counts', ascending=False, inplace=True)

genre_counts.set_index('term',inplace=True)

In [16]:
genre_counts.head(15)

                  counts
term
rock              205330
pop                10226
electronic          9784
hip hop             3266
united states       1118
jazz                1078
folk                 941
alternative rock     871
metal                498
punk                 349
country              326
hardcore             326
latin                316
indie                291
american             282

In [22]:
artist_csv = 'top_artist_terms.csv'

cursor.execute('''CREATE TABLE artist_main_term (
                    artist_id character(18) PRIMARY KEY,
                    term character(400),
                    term_count integer
                    );''')

In [23]:
with open(artist_csv, 'r') as f:
    cmd = 'COPY artist_main_term FROM STDIN WITH (FORMAT CSV, HEADER TRUE)'
    cursor.copy_expert(cmd, f)
    
conn.commit()